name: Deploy .NET API to Azure

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ secrets.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        run: |
          dotnet publish \
            -c Release \
            -o ./publish

      - name: Zip artifact
        run: |
          cd publish
          zip -r ../app.zip .
          cd ..

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        run: |
          az webapp deploy \
            --name ${{ secrets.WEB_APP_NAME }} \
            --resource-group ${{ secrets.RESOURCE_GROUP }} \
            --src-path app.zip \
            --type zip \
            --clean true

      - name: Restart App
        run: |
          az webapp restart \
            --name ${{ secrets.WEB_APP_NAME }} \
            --resource-group ${{ secrets.RESOURCE_GROUP }}
